server:
  addr: :8181

database:
  name: steamtracker
  host: postgresql
  username: steamtracker
  password: steamtracker

front-page:
  games-in-tables: 10

#
# Iris config
#
DisableVersionChecker: false