server:
  addr: :8181

database:
  name: steamtracker
  host: postgres
  username: steamtracker
  password: steamtracker

front-page:
  games-in-tables: 10

google-analytics-id: UA-xxxxxxxxx-1

#
# Iris config
#
DisableVersionChecker: true